---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="Acerca de" description={astropodConfig.description} cover={astropodConfig.cover}> 
  <section>
    <h1>Sobre {astropodConfig.name}</h1>
    <p>{astropodConfig.description}</p>
    
    <h2>La Herramienta: Astropod</h2>
    <p>{astropodConfig.name} utiliza la tecnología de <strong>Astropod</strong>, una solución innovadora para la gestión y distribución de podcasts. Astropod está diseñada para simplificar la creación, publicación y monitoreo de podcasts, brindando a los creadores de contenido una plataforma eficiente y fácil de usar para gestionar todos los aspectos de su podcast.</p>

    <h2>Nuestra Función</h2>
    <p>En {astropodConfig.name}, nuestra misión no es solo crear contenido, sino también implementar esta poderosa herramienta para que los creadores de contenido puedan probar y sacar el máximo provecho de la tecnología Astropod. Nosotros proporcionamos la integración y personalización de esta tecnología para ayudar a los usuarios a conocer sus capacidades y explorar cómo puede mejorar sus procesos de creación de contenido.</p>

    <h2>¿Qué es Astropod?</h2>
    <ul>
      <li><strong>Gestión Integral:</strong> Astropod facilita la organización de episodios, su publicación en múltiples plataformas, y el monitoreo del rendimiento desde una única interfaz.</li>
      <li><strong>Automatización:</strong> Automatiza muchas de las tareas repetitivas, como la programación de publicaciones y la creación de feeds RSS personalizados para distintos servicios de distribución de podcasts.</li>
      <li><strong>Optimización:</strong> Ofrece herramientas de optimización SEO y analíticas que permiten a los creadores de contenido obtener una mayor visibilidad y crecimiento.</li>
      <li><strong>Interfaz Amigable:</strong> Con una interfaz sencilla e intuitiva, los usuarios pueden configurar sus podcasts en pocos pasos sin complicaciones técnicas.</li>
    </ul>

    <h2>¿Por Qué Implementamos Astropod?</h2>
    <p>Decidimos implementar Astropod porque creemos en el poder de la tecnología para transformar el modo en que los creadores gestionan y distribuyen su contenido. Al ofrecer una plataforma todo-en-uno que simplifica los aspectos técnicos, Astropod permite a los creadores enfocarse en lo que realmente importa: producir contenido de alta calidad y conectarse con su audiencia.</p>

    <h2>Contáctanos</h2>
    <p>Si estás interesado en conocer más sobre cómo Astropod puede ayudarte a gestionar tu podcast, o si deseas probar la herramienta con nosotros, no dudes en contactarnos a través de <a href="mailto:{astropodConfig.email}">{astropodConfig.email}</a> o visita nuestro sitio web en <a href="{astropodConfig.link}">{astropodConfig.link}</a>.</p>
  </section>
</EpisodeLayout>

